<div class="root">
    <catalog-header
        (search)="onSearch($event)"
    ></catalog-header>
    <catalog-category-list
        [categories]="categories"
    ></catalog-category-list>
    <catalog-ad
        (closeAd)="onCloseAd()"
        [class.hidden]="adClosed"
    ></catalog-ad>
    <div
        class="search-result"
        *ngIf="isOnSearch"
        [innerHTML]="isSearchItemsExist ? 'По вашему запросу найдено:' : 'По вашему запросу ничего не найдено :('" >
    </div>
    <catalog-item-list *ngIf="isSearchItemsExist"
                       [items]="searchItems"
    ></catalog-item-list>
    <router-outlet></router-outlet>
</div>
