<div
    class="card"
    (mouseover)="wait(item?.description)"
    [matTooltip]="description"
    [matTooltipClass]="'catalog-item__tooltip'"
    style="width: 18rem;"
>
    <img
        [src]="item?.picture ? item.picture : '../../../../../assets/picture/large_product.jpg'"
        class="card-img-top"
        alt="image">
    <div class="card-body">
        <h5
            class="card-title"
            data-bs-toggle="popover"
            data-bs-trigger="hover"
            data-bs-content="item?.description"
        >
            {{item.name}}
        </h5>
        <ng-container *ngIf="isOnPopularShowcase">
            <span>От <span class="price">{{item.price}}</span></span>
        </ng-container>
        <ng-container *ngIf="!isOnPopularShowcase">
            <span class="catalog-item__price">Цена: {{item.price}}</span>
            <div class="card-text mb-1" *ngFor="let prop of properties">
                <span>{{prop["prop"] + ": "}}</span>
                <span>{{prop["value"]}}</span>
            </div>
            <mat-chip (click)="deleteItem(item.id)" color="warn">Удалить</mat-chip>
        </ng-container>
    </div>
</div>
